body{background-color:#FFF;color:#333;font-family:verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px;}
h1,h2,h3,h4,h5,intro{font-weight:normal;text-rendering:optimizeLegibility;margin-bottom:0.618em;}
h1{font-size:24px;}
h2{font-size:22px;}
h3{font-size:19px;}
h4{font-size:17px;}
h5{font-size:15px;}
p{line-height:1.618em;-webkit-hyphens:auto;-moz-hyphens:auto;margin-bottom:5px;margin-left:8px;}
pre{background-color:#eee;padding:10px;font-size:11px;font-family:Inconsolata, monospace;}
a,a:active,a:visited{color:#6eaede;text-decoration:none;border:0px;-webkit-transition-property:background, color;-webkit-transition-duration:0.2s, 0.2s;-webkit-transition-timing-function:linear, ease-in;-o-transition-property:background, color;-o-transition-duration:0.2s, 0.2s;-o-transition-timing-function:linear, ease-in;}
a:visited{color:#57a4db;}
a:hover{color:#9273d0;}
#container{width:800px;margin:auto;}
#header{margin-top:15px;margin-left:15px;font-size:24px;margin-bottom:15px;clear:both;}
#header a{color:#333;}
#footer a{color:#777;}
#footer {font-size:9px;text-align:center;}
#content {
  margin:10px;
  padding:10px;
  border:1px solid #ccc;
  width:800px;
}
.parameter {
  padding:10px;
  background:#EFEFEF;
  margin:5px;
}
.parameter strong{}
.parameter a{width:170px;display:block;float:left;font-weight:bold;}
.help{font-style:italic;font-size:11px;}